# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

# Loading Dataset

In [2]:
df = pd.read_csv("creditcard.csv")

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# Dataset Information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# Checking the number of missing values in each column

df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
# Distribution of Legit-Transaction and Fradulent-Transaction

df["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

### The Dataset is highly Imbalanced

0 ---> Legit Transaction
1 ---> Fradulent Transaction

In [7]:
# Separating the Data for Analysis

legit = df[df.Class==0]
fraud = df[df.Class==1]

In [8]:
legit.shape

(284315, 31)

In [9]:
fraud.shape

(492, 31)

In [10]:
# Statistical Measures about the Data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# Compare the values for both Transactions

df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-Sampling

Building a Sample Dataset containing similar distribution of Legit-Transactions and Fraudulent-Transactions

Number of Fraudulent-Transactions ---> 492

In [13]:
legit_sample = legit.sample(492)

# Concatenating two Dataframes

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77194,56937.0,-1.053708,-0.386384,1.099267,-1.941262,-1.793148,0.496924,-1.369263,0.789057,-1.830619,...,-0.075196,0.227270,0.007657,-0.502853,-0.661408,-0.338463,-0.382516,-0.224393,65.00,0
157963,110689.0,-6.943422,6.642936,-2.696711,-2.265146,-0.254864,-1.494609,1.681030,-1.084183,8.433788,...,-1.018019,0.575619,0.132427,-0.174444,0.799868,-0.246175,3.209534,1.293977,7.64,0
219359,141702.0,1.862282,-0.534643,-0.153268,1.679655,-0.833857,-0.073259,-0.682513,0.124564,1.694924,...,0.257992,1.079147,-0.027504,-0.004978,0.165947,-0.321305,0.061914,-0.036416,35.10,0
127211,78247.0,1.269102,-0.647742,0.632481,-0.610350,-1.126706,-0.447462,-0.654072,-0.027298,-0.728729,...,-0.560968,-1.219765,0.259093,0.061896,-0.198089,0.771860,-0.032102,0.021036,40.00,0
184822,126407.0,0.259547,1.049391,-0.343813,0.110273,0.132756,-1.824017,0.881575,-0.398113,0.154229,...,0.378987,1.104582,-0.034971,0.789168,-0.470882,-0.228799,-0.216040,0.018919,1.50,0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
new_dataset["Class"].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [18]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95097.934959,0.086125,-0.049182,0.061532,0.000088,0.027583,0.036198,0.008934,-0.007535,-0.007004,...,0.058850,-0.017321,-0.002920,0.011940,-0.016942,-0.041944,-0.008261,0.003267,-0.003316,89.605894
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Extracting Features and Target Columns

In [19]:
# In the dataset,

# Features = include all columns, except the Class column (So for this, we need to drop the class column).
# Target = Class

# x = Features 
# y = Target

In [20]:
x = new_dataset.drop(columns="Class", axis=1)
y = new_dataset["Class"]

In [21]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
77194,56937.0,-1.053708,-0.386384,1.099267,-1.941262,-1.793148,0.496924,-1.369263,0.789057,-1.830619,...,-0.514894,-0.075196,0.227270,0.007657,-0.502853,-0.661408,-0.338463,-0.382516,-0.224393,65.00
157963,110689.0,-6.943422,6.642936,-2.696711,-2.265146,-0.254864,-1.494609,1.681030,-1.084183,8.433788,...,4.740230,-1.018019,0.575619,0.132427,-0.174444,0.799868,-0.246175,3.209534,1.293977,7.64
219359,141702.0,1.862282,-0.534643,-0.153268,1.679655,-0.833857,-0.073259,-0.682513,0.124564,1.694924,...,-0.317205,0.257992,1.079147,-0.027504,-0.004978,0.165947,-0.321305,0.061914,-0.036416,35.10
127211,78247.0,1.269102,-0.647742,0.632481,-0.610350,-1.126706,-0.447462,-0.654072,-0.027298,-0.728729,...,-0.434994,-0.560968,-1.219765,0.259093,0.061896,-0.198089,0.771860,-0.032102,0.021036,40.00
184822,126407.0,0.259547,1.049391,-0.343813,0.110273,0.132756,-1.824017,0.881575,-0.398113,0.154229,...,-0.236438,0.378987,1.104582,-0.034971,0.789168,-0.470882,-0.228799,-0.216040,0.018919,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [22]:
y

77194     0
157963    0
219359    0
127211    0
184822    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Split the Dataset into Train and Test

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [25]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training

#### Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
model = LogisticRegression()

In [28]:
# Training the Logistic Regression Model with Training Data

model.fit(x_train, y_train)

LogisticRegression()

# Model Evaluation

#### Accuracy Score

In [29]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [30]:
# Accuracy on Training Data

x_train_prediction = model.predict(x_train)

In [31]:
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

print("Accuracy Score of Training Data is: ", training_data_accuracy)

Accuracy Score of Training Data is:  0.9491740787801779

In [32]:
# Accuracy on Test Data

x_test_prediction = model.predict(x_test)

In [33]:
test_data_prediction = accuracy_score(x_test_prediction, y_test)

print("Accuracy Score of Test Data is: ",test_data_prediction)

Accuracy Score of Test Data is:  0.9187817258883249

#### Confusion Matrix

In [34]:
conf_matrix = confusion_matrix(x_test_prediction, y_test)

print("Confusion Matrix:\n", conf_matrix)

Confusion Matrix:
 [[93 10]
 [ 6 88]]

#### Calculate Precision, Recall, and F1-Score

In [35]:
precision = precision_score(x_test_prediction, y_test)

recall = recall_score(x_test_prediction, y_test)

f1 = f1_score(x_test_prediction, y_test)

In [36]:
print("Precision: {:.4f}".format(precision))
print("Recall: {:.4f}".format(recall))
print("F1-Score: {:.4f}".format(f1))

Precision: 0.8980
Recall: 0.9362
F1-Score: 0.9167